{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>BrowsEduc</title>

    <!-- Bootstrap core CSS -->
    <link
      href="{% static 'search_app/template/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />

    <!-- Custom fonts for this template -->
    <link
      href="{% static 'search_app/template/vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Kaushan+Script"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Bootstrap core JavaScript -->

    <!-- Custom styles for this template -->
    {% block additional_css %}
    {% endblock %}
  </head>

  <body id="page-top">
    {% block content %} {% endblock %}

    <script src="{% static 'search_app/template/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'search_app/template/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'search_app/template/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Contact form JavaScript -->
    <script src="{% static 'search_app/template/js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'search_app/template/js/contact_me.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'search_app/template/js/agency.min.js' %}"></script>
  </body>
</html>
